.container {
  position: sticky;
  top: 40px;
  min-height: 100vh;
}
.toggle {
  min-height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  left: 10px;
}
.toggleButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  font-size: 32px;
  line-height: 54px;
}
.user {
  padding: 1rem;
  text-align: center;
}
.userImage {
  display: inline-block;
  margin: 0 auto 15px auto;
  border-radius: 50%;
}
.userDetail {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--bg);
}
.userName {
  font-size: 1.2rem;
  font-weight: bold;
}
.userRole {
  font-size: 1rem;
  color: var(--textSoft);
}
.menuSectionTitle {
  padding: .5rem;
  padding-top: 0;
  font-size: small;
  font-weight: 500;
  font-style: italic;
  color: var(--textSoft);
}
.list {
  list-style: none;
}