.container {
  position: sticky;
  top: 40px;
  min-height: 100vh;
}
.user {
  padding: 1rem;
  text-align: center;
}
.userImage {
  display: inline-block;
  margin: 0 auto 15px auto;
  border-radius: 50%;
}
.userDetail {
  /* margin-left: 10px; */
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--bg);
}
.userName {
  font-size: 1.2rem;
  font-weight: bold;
}
.userRole {
  font-size: 1rem;
  color: var(--textSoft);
}
.menuSectionTitle {
  padding: .5rem;
  padding-top: 0;
  font-size: small;
  font-weight: 500;
  font-style: italic;
  color: var(--textSoft);
}
.list {
  list-style: none;
}
.menuItem:hover {
  color: var(--textSoft);
  background-color: var(--bg);
}
.itemLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
}
.itemIcon {
  margin-right: 10px;
}
.itemText {
  font-size: 1.2rem;
}