:root {
  --bg: #1a1625;
  --bgSoft: #2f2b3a;
  --text: white;
  --textSoft: #b7bac1;
  --linkColor: #5e5a66;
  --linkSoft: #908d96;
  --buttonBg: #76737e;
  --buttonSoft: #908d96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
